* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --text-color: #111;
    --main-color: #c8815f;
    --big-font: 4.5rem;
    --h2-font: 3.3rem;
    --h3-font: 2rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 14%;
    transition: all .35s ease;
}

header.sticky {
    background: var(--bg-color);
    padding: 14px 14%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.logo {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
}

.lista-navegacao {
    display: flex;
}

.lista-navegacao a {
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 25px;
    font-size: 1rem;
    transition: all 0.35s ease;
}

.lista-navegacao a:hover {
    color: var(--main-color);
}

.cabecalho-icon i:hover {
    color: var(--main-color);
}

.cabecalho-icon i {
    font-size: 32px;
    color: var(--text-color);
    margin-right: 20px;
    transition: all 0.36s ease;
}

#menu-icon {
    font-size: 34px;
    color: var(--text-color);
    z-index: 10001;
    margin-right: 20px;
    display: none;
}

section {
    padding: 100px 14%;
}

.home {
    min-height: 100vh;
    background-image: url(../assets/background.jpg);
    width: 100%;
    background-size: cover;
    background-position: center top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 1.4rem;
}

.home-text span {
    font-size: var(--h2-font);
}

.home-text p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: .3rem;
}

.btn {
    display: inline-block;
    padding: 13px 25px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.35s ease;
}

.btn:hover {
    transform: translateY(-5px);
    background: var(--text-color);
}

.text-center {
    text-align: center;
}

.text-center h2 {
    font-size: var(--h3-font);
}

.conteudo-destaque {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
}

.row {
    position: relative;
    transition: all .35s ease;
}

.row img {
    width: 100%;
    height: auto;
}

.fea-text {
    position: absolute;
    top: 40px;
    left: 50px;
}

.fea-text h5 {
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.row .arrow {
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.row .arrow i {
    height: 35px;
    width: 35px;
    background: var(--bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
}

.row:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}

.row:hover i {
    background: var(--main-color);
    color: var(--bg-color);
}

.cta {
    height: 60vh;
    width: 100%;
    background: url(../assets/ffffc.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.cta-text h6 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 14px;
}

.cta-text h4 {
    font-size: 3.3rem;
    line-height: 1.2;
    letter-spacing: .8rem;
    margin-bottom: 30px;
}

.novo-conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
}

.box {
    position: relative;
    transition: all .40s ease;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.box h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h6 {
    font-size: 1rem;
    font-weight: 700;
}

.oferta {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background-color: var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}

.brand {
    padding: 50px 14%;
}

.brand-conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2rem;
    align-items: center;
}

.main img {
    width: 100%;
    height: auto;
    opacity: 0.6;
    transition: all 0.35s ease;
    cursor: pointer;
}

.main img:hover {
    opacity: 1;
}

.contato {
    background-color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.main-contato h3 {
    font-size: 23px;
    margin-bottom: 1.6rem;
    color: var(--bg-color);
}

.main-contato h5 {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

.icons {
    display: flex;
    margin-top: 2rem;
}

.icons i {
    font-size: 25px;
    margin-right: 1rem;
    color: #555;
    transition: all 0.35s ease;
}

.icons i:hover {
    color: var(--bg-color);
    transform: scale(1.1) translateY(-5px);
}

.main-contato li {
    margin-bottom: 15px;
}

.main-contato li a {
    display: block;
    color: #555;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.35s ease;
}

.main-contato li a:hover {
    transform: translateX(-8px);
    color: var(--bg-color);
    transition: all 0.35s ease;
}

.copyright {
    text-align: center;
    padding: 20px;
    background: var(--text-color);
}

.copyright p {
    font-size: 14px;
    color: #555;
    letter-spacing: 1px;
}

.scroll-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.scroll-top i {
    font-size: 22px;
    color: var(--bg-color);
    padding: 14px;
    background: var(--main-color);
    border-radius: 2rem;
}

@media (max-width: 1000px) {
    header {
        padding: 7px 4%;
        transition: .2s;
    }

    header.sticky {
        padding: 7px 4%;
        transition: .2s;
    }

    section {
        padding: 80px 4%;
        transition: .2s;
    }
}

@media (max-width: 670px) {
    #menu-icon {
        display: block;
        /* cursor: pointer; */
    }

    .cabecalho-icon {
        display: inline-flex;
    }

    .lista-navegacao {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 280px;
        height: 120vh;
        background: var(--bg-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 150px 30px;
        transition: all 0.45s ease;
    }

    .lista-navegacao a {
        display: block;
        margin: 1.2rem 0;
    }

    .lista-navegacao.open {
        left: 0;
    }
}